<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="author" content="Meric Taze">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> 
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="base.js"></script>
        <!-- Date: '{date}' -->
    </head>
    <body>
    	<div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="index.html">Lantecy</a></li>
                    <li><a href="suggestions.html">Suggestions</a></li>
                    <li class="active"><a href="corrupt_files.html">Corrupt Files</a></li>
                    <li><a href="missing_files.html">Missing Files</a></li>
                </ul>
                <h3 class="text-muted">Transfer Team</h3>
            </div>

	    	<div class="page-header">
	        	<h2>List of Possible Corrupt Files</h2>
	      	</div>
	      	<div>
	        	{error_table}
	        </div>
        </div> 
      	<div>
      	    <hr>
    		{date}
        </div>
    </body>
</html>
